{% load static %}

<footer class="footer">
<div class="footer-container">
    <div class="Logo-cont">
        <div class="Logo-white">
         <img src="{% static 'img/LOGO.png'%}" alt="">
    </div>
    <div class="address">
        <img src="{% static 'img/place.png'%}" alt="">
        <p>г. Сочи, ул. Волжская д. 40</p>
    </div>
    <div class="mail">
        <img src="{% static 'img/main.png'%}" alt="">
        <p>vagang3@mail.ru</p>
    </div>
    </div>


    <div class="nav">
        <div class="customers">
            <h6>Покупателям</h6>
            <div class="links">
                <p>Фотограф</p>
                <p>Доставка</p>
                <p>Контакты</p>
                <p>Отзывы</p>
                <p>Цены</p>
            </div>
        </div>

        <div class="products">
            <h6>Продукция</h6>
            <div class="links">
                <p>Настольные игры</p>
                <p>Нестандартные размеры
                печати</p>
                <p>Услуги</p>
            </div>
        </div>

    </div>
    <div class="phone-nomber">
        <h6>+7 (918) 153 10 81</h6>
    </div>
    <div class="social"></div>
</div>
</footer>
